* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

header {
    height: 80vh;
    /* background-image: linear-gradient(to bottom right, #0693e3, #1c8dd8); */
    background: linear-gradient(to top, rgb(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(image.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: large;
    font-weight: bold;
    margin-right: 2rem;
}
nav a:hover {
    color: #ccc;
  }

.header-text {
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #333;
}

.header-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #333;
}

.cta-btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}

.cta-btn:hover {
    background-color: #333;
    color: #fff;
}

.services {
    padding: 4rem;
}

.services h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-box {
    width: 30%;
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px #ddd;
    transition: all 0.2s ease-in-out;
}

.service-box:hover {
    box-shadow: 4px 4px #ddd;
    transform: translateY(-10px);
}

.service-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.service-box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.service-box p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* .testimonials {
    background-color: #eee;
    padding: 4rem;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
} */
.testimonials {
    padding: 100px 20px;
    background-color: #f5f5f5;
  }
  
  .testimonials h2 {
    text-align: center;
    font-size: 67;
  }

.slideshow-container {
    position: relative;
}

.slide {
    text-align: center;
}

.slide.active {
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 16px;
    margin: 0;
}